@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.filter {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  align-content: flex-end;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-half-block {
  width: 50%;
  display: inline-block;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.completed {
  background-color: rgb(177, 243, 177);
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  width: 22px;
}

.update-form {
  margin-bottom: 20px;
}

.update-form-control {
  margin: 10px 0;
}

.update-form-control label {
  display: block;
}

.update-form-control input {
  width: 100%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 14px;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  width: 100%;
}

.form-control label {
  display: block;

  width: 100%;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
