@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.filter {
  display: flex;
  justify-content: flex-end;
}



.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  align-content: flex-end;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-half-block {
  width: 50%;
  display: inline-block;
}



.update-form {
  margin-bottom: 20px;
}
.filter-form {
  margin-bottom: 20px;
}


.form-control {
  margin: 20px 0;
  width: 100%;
}

.form-control label {
  width: 170%;
}


.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 30.5%;
  height: 100vh;
  background-color: rgba(233, 112, 112, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner {
  position:fixed ;
  padding: 10px;
  width: 120%;
  max-width: 640px;
  background-color: #FFF;
}

.filterForm {
  position: fixed;
  top: 0;
  right: 0;
  width: 30.5%;
  height: 100vh;
  background-color: rgba(233, 112, 112, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;

}

.filterForm-inner {
  position:fixed ;
  padding: 10px;
  width: 200%;
  max-width: 1000px;
  background-color: #FFF;
}